@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Galoy.Views
@model BTCPayServer.Plugins.Galoy.PluginPageViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Galoy App</title>
    <link rel="stylesheet" href="/Resources/main.css" />
    <script src="/Resources/gt.js" crossorigin="anonymous"></script>
    <script type="text/javascript">window.__G_DATA = { "GwwConfig": { "walletName": "Galoy", "supportEmail": "support@galoy.io", "shareUrl": "https:\u002F\u002Fpay.mainnet.galoy.io\u002F", "graphqlUrl": "https:\u002F\u002Fapi.mainnet.galoy.io\u002Fgraphql", "graphqlSubscriptionUrl": "wss:\u002F\u002Fapi.mainnet.galoy.io\u002Fgraphql", "network": "mainnet", "authEndpoint": "api\u002Flogin", "kratosFeatureFlag": false, "galoyAuthEndpoint": "https:\u002F\u002Fapi.mainnet.galoy.io\u002Fauth" }, "GwwState": { "path": "\u002F", "props": {}, "key": 0, "defaultLanguage": "en-US" } }</script>
</head>
<body>
    <div id="root">
        <div class="loading">Loading...</div>
    </div>
    <script src="/Resources/vendor.js" type="text/javascript"></script>
    <script src="/Resources/main.js" type="text/javascript"></script>
</body>
</html>
